:root {
  --color-orange: orange;
  --color-gray-light: #9b9faa;
  --color-error: red;
  --spacing-sm: 8px;
  --spacing-md: 20px;
  --spacing-lg: 35px;
  --font-size-base: 14px;
  --font-weight-bold: bold;
}

/* Formulare */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: var(--spacing-md);
}

.title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  margin-top: 40px;
  margin-bottom: var(--spacing-lg);
  color: var(--color-orange);
  text-align: center;
}

.label {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-light);
  margin-bottom: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm); /* Spațiu între text și input */
  width: 100%;
}

.input {
  width: 100%;
  padding: var(--spacing-sm);
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--color-gray-light);
  outline: none;
  font-size: var(--font-size-base);
}


.buttonContainer {
  margin-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.colorButton {
  background-color: var(--color-orange);
  color: white;
}

.colorButton:hover {
  background-color: darkorange;
}

.whiteButton {
  background-color: white;
  color: var(--color-gray-light);
  border: 1px solid var(--color-gray-light);
}

.whiteButton:hover {
  background-color: var(--color-gray-light);
  color: white;
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-base);
  margin-top: var(--spacing-sm);
}

/* Tablete */
@media (min-width: 768px) {
  .background {
    background-image: url('../../../public/images/tablet/banana.png'),
      url('../../../public/images/tablet/leaf-log-reg.png'),
      url('../../../public/images/tablet/strawberry.png'),
      url('../../../public/images/tablet/grey.png');

    background-position: right bottom, center 10%, right 70%, bottom right;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .title {
    margin: 0;
    text-align: left;
    padding-top: 160px;
    padding-left: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
  }

  .input {
    width: 240px;
  }

  .buttonContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
  }

  .background {
    background-image: url('../../../public/images/desktop/banana.png'),
      url('../../../public/images/desktop/leaf.png'),
      url('../../../public/images/desktop/strawberry.png'),
      url('../../../public/images/desktop/grey.png');

    background-position: right top, center top, right bottom, bottom right;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
